
ion-nav-view {
    background-color: white !important;
}

.greyOut {
    color: #c0c0c0;
}

.crossedOut {
    text-decoration: line-through;
}

#activity .badge {
    position: relative; right: 1em !important;
}

#doneActivities .badge {
    font-size: 1.61em !important;
}

.bar-subheader .badge {
    position: absolute !important;
    right: 2.6em !important;
}

.sorting {
    font-size: 0.9em;
    font-weight: normal;
    text-align: right;
}

.sorting a {
    color: #000;
    /*text-decoration: dotted;*/
}

.doneDetails {
    font-size: 0.9em;
    color: #666;
}

