
ion-nav-view {
    background-color: white !important;
}

.greyOut {
    color: #c0c0c0;
    opacity: 0.5;
}

.crossedOut {
    text-decoration: line-through;
}


#activity .badge {
    position: relative; right: 1em !important;
}

#doneActivities .badge {
    font-size: 1.1em !important;
}

.bar-subheader .badge {
    position: absolute !important;
    right: 2.6em !important;
}

.sorting {
    font-size: 0.9em;
    font-weight: normal;
    text-align: right;
}

.sorting a {
    color: #000;
    /*text-decoration: dotted;*/
}

.doneDetails {
    font-size: 0.9em;
    color: #666;
}

#activityForm .toggle {
    margin: 1em;
}

#activities i {
    font-size: 1.3em;
}

.item-checkbox i, .item-radio i {
    font-size: 1.61em;
    margin-right: 0.3em;
}

.range, .range input {
    margin-left: 0;
    padding: 0;
}

.dateCompleted, .activityUserDetails {
    font-size: 0.8em;
    font-weight: normal;
}

#doneActivities h2 {
    font-size: 1.1em;
}




