<ion-header-bar class="bar-positive">
    <div class="buttons">
        <a ng-click="goHome()"><button class="button button-icon ion-ios7-circle-outline"></button></a>
        <!--<a ng-click="goToCompleted()"><button class="button button-icon ion-checkmark"></button></a>-->
    </div>
    <h1 class="title">Activity</h1>
    <div class="completion buttons">
        <button class="button button-icon ion-trash-b" ng-click="deleteActivity()"></button>
        <open-activity-form icon="ion-edit"></open-activity-form>
    </div>
</ion-header-bar>

<ion-content class="has-header padding">

    <div class="card">
        <div class="item item-divider">

            <div class="row">
                <div class="col-80">
                    <h2 ng-class="{crossedOut: activity.status===1}">{{activity.title}}</h2>
                    <div class="activityUserDetails">
                        for <owners></owners>
                    </div>
                </div>
                <div class="col col-20">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="activity.completion.done" ng-change="toggleCompletion()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <!--<div class="card completionDetails" ng-if="activity.status === 1">-->
    <div class="card completionDetails">
        <div class="item item-divider">
            <span ng-show="activity.status === 0">Open</span>
            <span ng-show="activity.status === 1" class="balanced">Completed</span>
            <span ng-show="activity.status === 2" class="assertive">Urgent</span>
            <span ng-show="activity.status === 3" class="assertive">Important</span>
            <span ng-show="activity.status === 4" class="assertive">Urgent & Important</span>

        </div>
        <div class="item" ng-if="activity.status === 1">
            <div class="row">
                <div class="col col-33">
                    By:
                </div>
                <div class="col">
                    <doers></doers>
                    <br /><span ng-show="isSelfless(activity)" class="balanced">selfless!</span>
                </div>
            </div>

            <div class="row" ng-if="activity.status === 1">
                <div class="col col-33">
                    Points:
                </div>
                <div class="col">
                    {{activity.completion.ptsGiven}}
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col col-20">-->
                    <!--On:-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--{{activity.completion.on | date}}-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>

    <div class="card" ng-show="activity.list" ng-class="{greyOut: activity.status===1}">
        <div class="item item-divider">
            Breaking it down
        </div>

        <div class="list">
            <a ng-repeat="item in activity.list" href="#" class="item">
               {{item}}
            </a>
        </div>

    </div>

    <div class="card activityDetails" ng-class="{greyOut: activity.status===1}">

        <div class="item item-divider">
            Overview
        </div>

        <div class="item">

            <div class="row">
                <div class="col col-33">Duration:</div>
                <div class="col">{{activity.duration  * 15 }} minutes</div>
            </div>

            <div class="row">
                <div class="col col-33">Context:</div>
                <div class="col">{{activity.context}}</div>
            </div>

            <div class="row">
                <div class="col col-33">Added on:</div>
                <div class="col">
                    {{activity.date | date}}
                </div>
            </div>
        </div>

        <div class="item" ng-hide="!activity.instructions">
            <div class="row">
                <div class="col col-100"><b>Instructions:</b></div>
            </div>
            <div class="row">
                <div class="col col-100">
                    {{ activity.instructions || "none" }}
                </div>
            </div>
        </div>

    </div>

    <!--<div>-->
        <!--<p>points given: {{activity.completion.points}}</p>-->
        <!--<p>Evi has {{users.evi.points}} points.<br />-->
        <!--Toma has {{users.toma.points}} points.</p>-->
    <!--</div>-->
</ion-content>
