<ion-header-bar class="bar-positive">
    <a href="#/done"><button class="button button-icon ion-checkmark"></button></a>
    <h1 class="title">What Now</h1>
       <button class="button button-icon ion-compose" ng-click="openActivityForm()"></button>
</ion-header-bar>

<user-bar users="users" tagged="userTags"></user-bar>

<ion-content id="activities" class="has-header has-subheader">
    <!--<p><input type="text" ng-model="test"></p>-->
    <ion-list>
        {{userTags}} {{contextTag}}
        <ion-item ng-repeat="activity in activities | orderByPriority | uncomplete | acties:'benefactors':userTags | context:contextTag | orderBy: actieOrdering" href="#/activity/{{activity.$id}}">
            <activity-open-item activity="activity"></activity-open-item>
        </ion-item>
    </ion-list>
</ion-content>

<tab-bar tagged="contextTag"></tab-bar>

