<ion-header-bar class="bar-positive">
    <div class="buttons">
        <a href="#"><button class="button button-icon ion-earth"></button></a>
    </div>
    <h1 class="title">Activity</h1>
    <div class="completion buttons">
        <button class="button button-icon ion-trash-b" ng-click="deleteActivity()"></button>
        <button class="button button-icon ion-edit" ng-click="openActivityForm()"></button>
    </div>
</ion-header-bar>

<ion-content class="has-header padding">

    <div class="card">
        <div class="item item-divider">

            <div class="row">
                <div class="col-80">
                    <h2>{{activity.title}}</h2>
                    <div class="activityUserDetails">
                        for
                        <span ng-repeat="(key, owner) in activity.owners" ng-show="owner"> {{key}}<span ng-show="!$last "> and </span></span>
                    </div>
                </div>
                <div class="col col-20">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="activity.completion.done" ng-change="toggleCompletion()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>

            </div>
        </div>

        <div class="item">
            <div class="row status">
                <!--<div class="col col-25">-->
                    <!--Status:-->
                <!--</div>-->
                <div class="col">
                    <span ng-show="status === 0">Open</span>
                    <span ng-show="status === 1" class="balanced">Completed</span>
                    <span ng-show="status === 2" class="assertive">Urgent</span>
                    <span ng-show="status === 3" class="assertive">Important</span>
                    <span ng-show="status === 4" class="assertive">Urgent & Important</span>
                </div>
                <!--<div class="col"></div>-->
            </div>
        </div>
        <div class="item completionDetails" ng-show="activity.completion.done">
            <div class="row doers">
                <div class="col col-25">
                    By:
                </div>
                <div class="col">
                    <i class="icon ion-checkmark-round balanced"></i>
                    <span ng-repeat="(name, user) in activity.completion.by" ng-show="activity.completion.by[name]">
                        {{name}}<span ng-hide="$last"> and </span>
                    </span>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col col-25">-->
                    <!--On:-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--{{activity.completion.on | date}}-->
                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="col col-25">
                    Points:
                </div>
                <div class="col">
                    {{activity.completion.ptsGiven}}
                </div>
            </div>


        </div>

        <div class="activityDetails" ng-class="{greyOut: status===1}">

            <div class="item" ng-hide="!activity.instructions">
                <div class="row">
                    <div class="col col-100"><b>Instructions:</b></div>
                </div>
                <div class="row">
                    <div class="col col-100">{{ activity.instructions || "none" }}</div>
                </div>
            </div>

            <div class="item">

                <div class="row">
                    <div class="col col-25">Duration:</div>
                    <div class="col">{{activity.duration  || "not specified"}} minutes</div>
                </div>

                <div class="row">
                    <div class="col col-25">Context:</div>
                    <div class="col">{{activity.context}}</div>
                </div>

                <div class="row">
                    <div class="col col-25">Added on:</div>
                    <div class="col">
                        {{activity.date | date}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<div>-->
        <!--<p>points given: {{activity.completion.points}}</p>-->
        <!--<p>Evi has {{users.evi.points}} points.<br />-->
        <!--Toma has {{users.toma.points}} points.</p>-->
    <!--</div>-->
</ion-content>
