<ion-header-bar class="bar-positive">
    <a href="#/done"><button class="button button-icon ion-checkmark"></button></a>
    <h1 class="title">What Now</h1>
       <button class="button button-icon ion-compose" ng-click="openActivityForm()"></button>
</ion-header-bar>

<user-bar users="users" tagged="userTags"></user-bar>

<ion-content id="activities" class="has-header has-subheader">
    <!--<p><input type="text" ng-model="test"></p>-->
    <ion-list>
        <!--<ion-item class="item item-divider sorting">-->
            <!--sorted by most urgent and <a href="" ng-click="switchSorting()">shortest</a>-->
        <!--</ion-item>-->
        <!--| contextMatch: contextFilter | userMatch: userFilter"-->
        {{userTags}}
        <ion-item ng-repeat="activity in activities | orderByPriority | uncomplete | acties:userTags:'users' | orderBy: activityOrdering" href="#/activity/{{activity.$id}}">

            <span ng-show="activity.personal"><i class='icon ion-key'></i></span>
            <span ng-show="activity.important && activity.urgent"><i class='icon ion-fireball'></i></span>
            <span ng-show="activity.important && !activity.urgent"><i class='icon ion-flame'></i></span>
            <span ng-show="activity.urgent && !activity.important"><i class='icon ion-ios7-timer'></i></span>

            <span> {{activity.title}}</span>
            <span class="item-note">{{activity.duration * 15}} min</span>
            <br />for {{activity.users}}<br />
            <!--status {{activity.status}}<br />-->

        </ion-item>
    </ion-list>
</ion-content>

<tab-bar></tab-bar>

