

<div class="row">
    <div class="col col-10">
        <i class="icon ion-checkmark balanced"></i>
    </div>
    <div class="col col-90">
        <span ng-class="{crossedOut: activity.status===1}">{{activity.title}}</span>
    </div>
</div>
<div class="row">
    <div class="col col-10">
    </div>
    <div class="col col-50">
        <doers></doers>
        for <owners></owners><br />
    </div>
    <div class="col">
        <span ng-show="isSelfless(activity)" class="balanced">selfless!</span>
    </div>

</div>

<!--<div class="row" ng-show="isSelfless(activity)">-->
    <!--<div class="col col-10"></div>-->
    <!--<div class="col col-90 assertive">Wow, a selfless act!</div>-->
    <!--</div>-->
<!--</div>-->

<span class="badge badge-light">
    <span ng-show="activity.context === 'fun'">
        <i class="icon ion-happy"></i>
    </span>
    <span ng-hide="activity.context === 'fun'">
        {{ activity.completion.ptsGiven || 0}}
    </span>
</span>