<ion-header-bar class="bar-positive">
    <a href="#/done"><button class="button button-icon ion-checkmark"></button></a>
    <h1 class="title">What Now</h1>
    <button class="button button-icon ion-compose" ng-click="openActivityForm()"></button>
</ion-header-bar>
<div class="bar bar-subheader tabs tabs-icon-left bar-neutral">
    <!--<a class="tab-item" >All</a>-->
    <a class="tab-item has-badge" ng-model="tomaFilter" ng-click="tomaFilter = !tomaFilter" ng-class="{energized: tomaFilter}">
        <span class="badge badge-energized">{{users.toma.points}}</span>
        <i class="icon ion-man"></i> Toma
    </a>
    <a class="tab-item has-badge" ng-model="eviFilter" ng-click="eviFilter = !eviFilter" ng-class="{energized: eviFilter}">
        <span class="badge badge-energized">{{users.evi.points}}</span>
        <i class="icon ion-woman"></i>Evi
    </a>
    <a class="tab-item has-badge">
        <span class="badge badge-energized">0</span>
        <i class="icon ion-ios7-paw"></i> Momo
    </a>

</div>

<ion-content id="activities" class="has-header has-subheader">
    <ion-list>
        <!--<ion-item class="item item-divider sorting">-->
            <!--sorted by most urgent and <a href="" ng-click="switchSorting()">shortest</a>-->
        <!--</ion-item>-->
        <ion-item ng-repeat="activity in activities | orderByPriority | orderBy: ['-urgent', '-important', 'duration']"
                  ng-hide="activity.completion.done" href="#/activity/{{activity.$id}}">
            <span ng-show="activity.important && activity.urgent"><i class='icon ion-fireball'></i></span>
            <span ng-show="activity.important && !activity.urgent"><i class='icon ion-flame'></i></span>
            <span ng-show="activity.urgent && !activity.important"><i class='icon ion-ios7-timer'></i></span>
            <span> {{activity.title}}</span>
            <span class="item-note">{{activity.duration || ""}} min</span>
        </ion-item>
    </ion-list>
</ion-content>

<!--<div class="tabs tabs-bottom tabs-icon-only tabs-neutral">-->
    <!--<a class="tab-item" ng-model="homeFilter" ng-click="homeFilter = !homeFilter" ng-class="{assertive: homeFilter}">-->
        <!--<i class="icon ion-home"></i>-->
    <!--</a>-->
    <!--<a class="tab-item" ng-model="errandFilter" ng-click="errandFilter = !errandFilter" ng-class="{assertive: errandFilter}">-->
        <!--<i class="icon ion-bag"></i>-->
    <!--</a>-->
    <!--<a class="tab-item" ng-model="computerFilter" ng-click="computerFilter = !computerFilter" ng-class="{assertive: computerFilter}">-->
        <!--<i class="icon ion-laptop"></i>-->
    <!--</a>-->
    <!--<a class="tab-item" ng-model="funFilter" ng-click="funFilter = !funFilter" ng-class="{assertive: funFilter, energized: !funFilter}">-->
        <!--<i class="icon ion-happy"></i>-->
    <!--</a>-->
<!--</div>-->
