<li class="item item-divider">
    Make a list?
</li>


<!--<label class="item item-input item-icon-right">-->
    <!---->
    <!--<span ><i ng-click="addListItem()" class="icon ion-ios7-plus-empty"></i></span>-->

<!--</label>-->

<div class="item item-button-right">
    <input ng-model="newListItem" type="text" placeholder="break it down">
    <button type="button" ng-click="addListItem(newListItem)" class="addList button button-light">
        <i class="icon ion-ios7-plus-empty"></i>
    </button>
</div>

<div ng-repeat="item in list" class="item item-button-right">
    {{item}}
    <button type="button" ng-click="deleteListItem(item)" class="button button-light">
        <i class="icon ion-ios7-minus-empty"></i>
    </button>

</div>