<li class="item item-divider">
    Itemize?
</li>

<div class="item item-button-right">
    <input ng-model="newListItem" type="text" placeholder="break it down">
    <button type="button" ng-click="addListItem(newListItem)" class="addList button button-light">
        <i class="icon ion-ios7-plus-empty"></i>
    </button>
</div>

<div ng-hide="editMode" ng-repeat="item in list" class="item item-button-right">
    <span ng-click="edit()">{{item.title}}</span>
    <button type="button" ng-click="deleteListItem($index)" class="button button-light">
        <i class="icon ion-ios7-minus-empty"></i>
    </button>
</div>

<div ng-show="editMode" ng-repeat="item in list" class="item item-button-right">
    <input ng-model="item.title" type="text">
    <button type="button" ng-click="editListItem($index, item)" class="addList button button-light">
        <i class="icon ion-ios7-plus-empty"></i>
    </button>
</div>