<ion-header-bar class="bar-positive">
    <a href="#"><button class="button button-icon ion-ios7-arrow-back"></button></a>
    <h1 class="title">Completed Activities</h1>
</ion-header-bar>

<div class="bar bar-subheader tabs tabs-icon-left bar-neutral">
    <!--<a class="tab-item" >All</a>-->
    <a class="tab-item has-badge" ng-model="tomaDoneFilter" ng-click="tomaDoneFilter = !tomaDoneFilter" ng-class="{energized: tomaDoneFilter}">
        <span class="badge badge-energized">{{users.toma.points}}</span>
        <i class="icon ion-man"></i> Toma
    </a>
    <a class="tab-item has-badge" ng-model="eviDoneFilter" ng-click="eviDoneFilter = !eviDoneFilter" ng-class="{energized: eviDoneFilter}">
        <span class="badge badge-energized">{{users.evi.points}}</span>
        <i class="icon ion-woman"></i>Evi
    </a>
    <a class="tab-item has-badge">
        <span class="badge badge-energized">0</span>
        <i class="icon ion-ios7-paw"></i> Momo
    </a>

</div>

<ion-content id="doneActivities" class="has-header has-subheader">
    <ion-list>
        <ion-item ng-repeat="activity in activities | orderByPriority | orderBy: '-completion.on'" href="#/activity/{{activity.$id}}"
                  ng-show="activity.completion.done">

            <span class="crossedOut">{{activity.title}}</span>
            <br />
            <span class="dateCompleted">&#10004; {{activity.completion.on | date:'MM/dd/yyyy @ h:mma'}}</span>
            <br />
            <span class="doneDetails">
                <!--{{activity.completion.by}} for-->
                <span ng-repeat="(user, bool) in activity.completion.by" ng-show="activity.completion.by[user]">
                    {{user}}<span ng-hide="$last">and </span>
                </span>
                for
                <span ng-repeat="(user, bool) in activity.owners" ng-show="user">
                    {{user}}<span ng-hide="$last">and </span>
                </span>
            </span>
            <span class="badge badge-light">
                <span ng-show="activity.context === 'fun'">
                    <i class="icon ion-happy"></i>
                </span>
                <span ng-hide="activity.context === 'fun'">
                    {{ activity.completion.pointsGiven || 0}}
                </span>
            </span>

        </ion-item>
    </ion-list>
</ion-content>



