<ion-header-bar class="bar-positive">
    <a href="#"><button class="button button-icon ion-ios7-arrow-back"></button></a>
    <h1 class="title">Completed Activities</h1>
</ion-header-bar>

<div class="bar bar-subheader tabs tabs-icon-left bar-neutral">
    <!--<a class="tab-item" >All</a>-->
    <a class="tab-item has-badge" ng-model="eviFilter" ng-click="eviDoneFilter = !eviDoneFilter" ng-class="{positive: eviDoneFilter}">
        <span class="badge badge-energized">{{users.evi.points}}</span>
        <i class="icon ion-woman"></i>Evi

    </a>
    <a class="tab-item has-badge" ng-model="tomaFilter" ng-click="tomaDoneFilter = !tomaDoneFilter" ng-class="{positive: tomaDoneFilter}">
        <i class="badge badge-energized">{{users.toma.points}}</i>Toma
        <i class="icon ion-man"></i>
    </a>
</div>

<ion-content class="has-header has-subheader">
    <ion-list>
        <ion-item ng-repeat="activity in activities | orderByPriority | orderBy: '-$id'" href="#/activity/{{activity.$id}}"
                  ng-hide="hideDoers(activity)">
            <span>&#10004;</span>
            <span class="crossedOut">{{activity.title}}</span>

            <span class="item-note">
                {{activity.completed.by}}
            </span>
            <span class="badge badge-light">
                <span ng-show="activity.context.fun">
                    <i class="icon ion-happy"></i>
                </span>
                <span ng-hide="activity.context.fun">
                    {{ activity.completed.points}}
                </span>
            </span>

        </ion-item>
    </ion-list>
</ion-content>



