<ion-header-bar class="bar-positive">
    <a href="#/done"><button class="button button-icon ion-checkmark"></button></a>
    <h1 class="title">What Now</h1>
       <button class="button button-icon ion-compose" ng-click="openActivityForm()"></button>
</ion-header-bar>

<user-bar users="users" selection="userSelection"></user-bar>

<ion-content id="activities" class="has-header has-subheader">
    <activities order="urgent" completed=true></activities>
    <open-activities activities="activities" user-selection="userSelection"></open-activities>
</ion-content>

<tab-bar></tab-bar>