<div class="bar bar-subheader tabs tabs-icon-left bar-neutral">
    <!--<a class="tab-item" >All</a>-->
    <a ng-repeat="user in users | orderByPriority | orderBy: '-points'" class="tab-item has-badge"
       ng-click="$parent.toggleUser(user.name)"
        ng-class="{positive: filtersSelected.users.indexOf(user.name) > -1}">
        <span class="badge badge-energized">{{user.points}}</span>
        <i class="icon ion-{{user.icon}}"></i> {{user.name}}
    </a>

    <a class="tab-item has-badge" ng-click="showMomo()">
        <span class="badge badge-energized">{{momo}}</span>
        <i class="icon ion-ios7-paw"></i> Momo
    </a>

</div>

